* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: #47D7CD;
  --contrast-color: #47D7CD;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: #47D7CD;
}
.intro{
  color: #111;
  padding-left: 5vh;
  padding-right: 5vh;
  margin: auto;
  font-size: 30px;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #47D7CD;
  position:relative;
  text-align: center;
  margin-top: 10px;
}
.intro p{
  margin: auto;
  padding: 20px;
}
.bullets{
  width:100%;
  margin-left: 10px;
  animation: slideIn 1.5s ease-in-out forwards;
  background-color: #47D7CD;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: auto;
  line-height: 1.2;
  overflow: clip;
  text-align:center;
}
.bullets h1{
  text-align: center;
}
.bullets h2{
  font-size: 50px;
  align-self: center;
  text-align: center;
  width: 100%;
  padding:0;
  margin:auto;
}
.bullets img{
  padding:0;
  margin:auto;
  width: 300px;
  text-align: center;
  border: #111 2px solid;
  margin: 20px

}
.bullets .subbul{
  color: #111;
  font-size: 20px;
  margin-left: 20vh;
  margin-right: 15vh;
  margin-bottom: 15px;
  text-align:left;
  animation: slideUp 1s ease forwards 1s;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  z-index: 10;
  width: 100%;
  top: 15vh;
  position: relative;
  border: none;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  color: #111;
  animation: expand 1s ease forwards;
  background-color: #47D7CD;
  font-family: "Bebas Neue", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .8s ease;
}
.title{
  padding-top: 5vh;
  grid-column-start: 1;
  grid-column-end: 3;
}
.bullets:last-child{
  margin-bottom: 10vh;
}
.container_content {
 border: #47D7CD;
 margin: auto;
}

.container_content_inner {
  margin-left: 40px;
  margin: auto;
  height: 100%;
}

.container_outer_img {
  margin-left: 30px;
  overflow: hidden;
  justify-content: center;
  margin: auto;

}   
.img-inner img{
  margin: auto;
  object-fit: contain;
  width: 100%;
  height: auto;
  justify-self: center;
}    
.container_img {
  width: 100%;
  height: auto;
  object-fit: contain;
  align-self: center;
  justify-content: center;
  justify-self: center;
  animation: slideIn 1.5s ease-in-out forwards;
}

.par p{
    align-items:center;
    justify-content:space-around;
    height: auto;
    overflow: hidden;
    text-align:justify;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 30px;
}
.par p:nth-child(2){
    color: #111;
}
.par p:last-child{
  padding-bottom: 10px;
}
p{
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp 1s ease-in-out forwards 1s;
}

.container_content_inner{
    justify-content: center;
    align-items:center;
    justify-self: center;
}
.title {
  justify-content:center;
  overflow: hidden;
  height: auto;
  text-align: center;
}

h1 {
  text-decoration:underline;
    letter-spacing: 5px;
    justify-content:center;
    align-items:center;
    font-size: 70px;
    color: #111;
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp 1s ease forwards 1s;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
.skip a{
  left:-999px;  
  position:absolute;
  top:auto;
  width:1px;
  overflow:clip;
  height:1px;
  overflow:hidden;
  z-index:-999;
  transition: top 1s ease-out;
}

.skip a:focus{
  color: #fff;
  background-color:#000;
  left: auto;
  top:15vh;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid #47D7CD;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}
nav{
  animation: slideIn 1.5s ease-in-out forwards;
  z-index: 100;
  text-align: center;
  margin: 0;
  top: 0;
  height: 15vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  border: none;
  position: fixed;
}

.background-one {
background-color: #47D7CD;
}

.background-two {
background-color: #151515;
}

.background-three {
background-color: #151515;
}
.background-four {
  background-color: #151515;
}

.link-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
position: relative;
z-index: 0;
}

a {
font-family: "Bebas Neue", serif;
font-size: 2.5em;
text-decoration: none;
}
.link-one {
  font-family: "Bebas Neue", serif;
  font-size: 2.5em;
  border-bottom: none;
  color: #111;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
  text-decoration: underline;
}
.link-one:hover {
  color: #111;
    text-decoration: underline;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-one::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #47D7CD;
  color:#47D7CD;
  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::before {
  clip-path: circle(100% at 50% 50%);
}
.container2{
  font-family: "Bebas Neue", serif;
}
.link-one::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #151515;
  color: #47D7CD;
  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::after {
  color: #47D7CD;
  clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
}

.link-two {
color: #f27b9b;
transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
}

.link-two:hover {
color: #111;
transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-two::before {
content: "";
position: absolute;
z-index: -2;
width: 100%;
height: 100%;
top: 0;
right: 0;
clip-path: polygon(
  0% -20%,
  100% -30%,
  100% -10%,
  0% 0%,
  0% 130%,
  100% 120%,
  100% 100%,
  0% 110%
);
background-color: #f27b9b;
transition: clip-path 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.link-two:hover::before {
clip-path: polygon(
  0% 10%,
  100% 0%,
  100% 20%,
  0% 30%,
  0% 100%,
  100% 90%,
  100% 70%,
  0% 80%
);
}

.link-two::after {
content: "";
position: absolute;
z-index: -1;
width: 5ch;
height: 5ch;
top: 50%;
right: 50%;
transform: translate(50%, -50%) rotate(0deg) scale(0);
transition: transform 1s ease;

background-color: #f27b9b;
}

.link-two:hover::after {
transform: translate(50%, -50%) rotate(135deg) scale(1);
}

.link-three {
color: #eb7132;
}

.link-three::after {
content: "";
position: absolute;
z-index: 2;
width: 50%;
height: 100%;
top: 0%;
left: 0%;
transform: translate(0, -50%) scaleY(0);
transition: transform 1s ease;
mix-blend-mode: difference;

clip-path: polygon(
  20% 60%,
  100% 60%,
  100% 40%,
  20% 40%,
  20% 0%,
  60% 0%,
  60% 20%,
  20% 20%
);

background-color: #eb7132;
}

.link-three:hover::after {
transform: translate(0, 0%) scaleY(1);
}

.link-three::before {
content: "";
position: absolute;
z-index: 2;
width: 50%;
height: 100%;
bottom: 0%;
right: 0%;
transform: translate(0, 50%) scaleY(0);
transition: transform 1s ease;
mix-blend-mode: difference;

clip-path: polygon(
  80% 40%,
  0% 40%,
  0% 60%,
  80% 60%,
  80% 100%,
  40% 100%,
  40% 80%,
  80% 80%
);

background-color: #eb7132;
}

.link-three:hover::before {
transform: translate(0%, 0%) scaleY(1);
}

.link-four {
  color: #b289d8;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
  font-family: "Bebas Neue", serif;
}

.link-four:hover {
  color: #111;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}
.link-four::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #b289d8;

  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-four:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.link-four::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #151515;

  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}
footer{
  font-family: "Bebas Neue", serif;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #111;
  color: #fff;
  bottom: 0;
  height: 7vh;
  z-index: 100;
}
@media only screen and (max-width: 750px) {
  .par {
    font-size: 60px;
  }
  .par p{
    font-size: 22px;
    line-height: 1;
  }
  .link-one{
    font-size: 20px;
  }
  .link-two{
    font-size: 20px;
  }
  .link-three{
    font-size: 20px;
  }
  .link-four{
    font-size: 20px;
  }
    .bullets h2{
        font-size: 36px;
        width: 75%;
    }
}
@media only screen and (max-width: 800px) {
  a {
    font-family: "Bebas Neue", serif;
    font-size: 2em;
    text-decoration: none;
    }
    .container h1{
      text-align:center
    }
    .g1{
      align-self: center;
    }
    .bullet{
      display: grid;
      grid-template-columns: 40% 1fr;
      row-gap: 20vh;
      border: solid 2px #111;
    }
    .bullets{
      display: grid;
      margin-bottom: 15vh;
    }
    .bullets h1{
      grid-column: 1/-1;
    }
    .bullets h2{
      font-size: 28px;
    }
    .bullets img{
      width: 75%
    }
    .bullets .subbul{
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 30px;
    }
    .bullet ul{
      line-height: 1;
    }
}